h2, h3{
background-color:  #0a92bb;
color: white
}

.menu li {
    display: inline-block;
    list-style: none; 
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.menu{
    background-color: #0a92bb;
   
    
}

.cor{
    color: white;
    background-color: #0a92bb;
}

.container, .menu ul {
    margin: auto;
    width: 80%;
}
